@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  @apply antialiased transition-colors;
  background-color: #f8fafc; /* slate-50 */
  color: #0f172a; /* slate-900 */
}

.dark body {
  background-color: #0f172a; /* slate-900 */
  color: #f1f5f9; /* slate-100 */
}
